<div class="post_container">
 <div class="post_header">
  <img src="/images/13.jpg" alt="" id="bg">
  <div class="post_title">
    <h1>Good | <span>Evil?</span></h1>
  </div>
   <div class="links_wrap">
      <div class="post_page_link">
        <%= render 'layouts/header' %>
      </div>
      <div class="profile_post_link">
        <%= link_to "Profile", profile_path %>
      </div>
      <div class="signout_link">
        <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %> 
      </div>
    </div>
  </div>
  <div class="row">
  <div class="item">
    <%= paginate @posts %>
    <div id="container" class="large-12 columns transitions-enabled large-centered clearfix">
      <% @posts.each do |post| %>
      <div class="box col4">
        <div class="post" data-id="<%=post.id%>">
          <% if post.photo.file.nil? %>
          <img class="imageContainer" src="<%=post.photo_link%>" id="news-feed-image">
          <% else %>
          <img class="imageContainer" src="https://s3.amazonaws.com/goodevil/<%=post.photo.file.original_filename%>" id="news-feed-image">
          <br>
          <% end %>
          <div id="chartContainer_<%=post.id%>">
          </div>
          
          <div class="good_evil">
            <button id="good_btn" class="button">good</button>
            <div class="good_post"><%= post.likes.where(good:true).count %></div>
            <div class="evil_post"><%= post.likes.where(good:false).count %></div>
            <button id="evil_btn" class="button">evil</button>
          </div>
        </div>
        <div class="comment_container_<%=post.id%>">
          <form class="addComment" data-id="<%=post.id%>">
            <input class="new_comment_<%=post.id%>" type="text">

          </form>
          <h4>Comments</h4>
          <% post.comments.each do |comment| %>
          <div class="comment" data-id="<%=comment.id%>">
            <div><%= comment.body %></div><br>
            <div class="good_evil_comment">
              <button id="good_btn" class="button small">good</button>
              <div class="good_comment"><%= comment.likes.where(good: true).count %></div>
              <div class="evil_comment"><%= comment.likes.where(good: false).count %></div>
              <button id="evil_btn" class="button small">evil</button>
            </div>
          </div>
          <% end %>
           </div>

      </div>
      <% end %>

    </div>
  </div>

</div>

</div>


