<h1>Newsfeed</h1>
<div class="item">
  <div id="masonry-container" class="transitions-enabled infinite-scroll centered masonry clearfix has-gutters">
    <%= paginate @posts %>
    <% @posts.each do |post| %>
      <div class="post" data-id="<%=post.id%>">
        <div class="box col2 masonry-brick" styple="position: absolute; top: 55px; left: 5px;">
          <div><img src="<%=post.photo_link%><%=post.photo.file.original_filename%>"></div><br>
          <div><%= post.text_overlay %></div><br>
          Good ratings:
          <div class="good_post"><%= post.likes.where(good: true).count %></div>
          Evil ratings:
          <div class="evil_post"><%= post.likes.where(good: false).count %></div>
          <br>
          <button id="good">good</button>
          <button id="evil">evil</button>
        </div>
        <div id="comment_container" data-id="<%=post.id%>">
          <form id="addComment" data-id="<%=post.id%>">
            <input id="new_comment" type="text">
          </form>
          <h4>Comments</h4>
          <% post.comments.each do |comment| %>
            <div class="comment" data-id="<%=comment.id%>">
              <div><%= comment.body %></div><br>
              Good ratings:
              <div class="good_comment"><%= comment.likes.where(good: true).count %></div>
              Evil ratings:
              <div class="evil_comment"><%= comment.likes.where(good: false).count %></div>
              <button id="good">good</button>
              <button id="evil">evil</button>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
