<div class="container">
  <h1>Newsfeed</h1>
  <div class="item">
  <%= paginate @posts %>
  <div id="container" class="large-12 columns transitions-enabled large-centered clearfix">
    <% @posts.each do |post| %>
      <div class="post" data-id="<%=post.id%>">
        <div class="box col4">
          <img src="<%=post.photo_link%><%=post.photo.file.original_filename%>" id="news-feed-image">
          <br>
        
          <div class="good_post"><%= post.likes.where(good: true).count %></div>
          Evil ratings:
          <div class="evil_post"><%= post.likes.where(good: false).count %></div>
          <br>
          <button id="good">good</button>
          <button id="evil">evil</button>
          <div id="chartContainer"></div>
          <div id="comment_container" data-id="<%=post.id%>">
            <form id="addComment" data-id="<%=post.id%>">
              <input id="new_comment" type="text">
            </form>
            <h4>Comments</h4>
              </div>
            <% post.comments.each do |comment| %>
              <div class="comment" data-id="<%=comment.id%>">
                <div><%= comment.body %></div><br>
               
                <div class="good_comment">
                  <button id="good"><%= comment.likes.where(good: true).count %></button>
                </div>
                <!-- Evil ratings: -->
                <div class="evil_comment"><%= comment.likes.where(good: false).count %></div>
                
                <button id="evil">evil</button>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>