
<h1>New Post</h1>
<%= form_for(@post) do |f|  %>
  <% unless @post.errors.count == 0   %>
    <div class="alert alert-error">
      The form contains
      <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li>*
          <%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div><%= f.label :text_overlay %><br>
    <%= f.text_area :text_overlay %></div>
  <div><%= f.label :photo %><br>
    <%= f.file_field :photo %></div><br>
  <div>
    <label for="post_photo">Mobile Uploads</label>
    <input type="file" capture="camera" accept="image/*" id="post_photo" name="post[photo]">
  </div>
  <div><%= f.submit "Create my post", class: "form_button" %></div>
<% end %>
