<!DOCTYPE html>
<html>
  <head>
    <title>GoodOrEvil</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <div class="fixed">
        <nav class="top-bar data-topbar">
          <ul class="title-area">
            <li class="title">
              <h1><a href="http://posts/new" data-reveal-id="myModal" data-reveal-ajax="true"><span id="good">good</span> & <span id='evil'>evil</span></a></h1>
            </li>
          </ul>
          <section class='top-bar-section'>
            <!-- right side of nav -->
            <ul class='right'>
              <li class="sign-up">
                <%= link_to "Sign Up",  new_post_path %>
              </li>
              <li class="sign-in">
                <%= link_to "Sign In", posts_path %>
              </li>
              <li class="profile">
                <%= link_to "Profile", posts_path %>
              </li>
              <li class="new-post">
                <a href="#" data-reveal-id="myModal" data-reveal>New Post</a>
              </li>
            </ul>
          </section>
        </nav>
      </div>
      
          <%= yield %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
     
    
  </body>
</html>
              