<!DOCTYPE html>
<html>
  <head>
    <title>GoodOrEvil</title>
    <%= include_gon %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="fixed">
      <nav class="top-bar data-topbar">
        <ul class="title-area">
          <li class="title">
            <!-- <h1><a href="/posts/" data-reveal-id="myModal" data-reveal-ajax="true"><span id="good">good</span>
                &
                <span id='evil'>evil</span></a></h1> -->
                <h1><a href="/"><span id="good">good</span>
                &
                <span id='evil'>evil</span></a></h1>
          </li>
        </ul>
          <section class='top-bar-section'>
            <!-- right side of nav -->
            <ul class='right'>
              <li class="sign-up" data-reveal-id="signupModal" data-reveal>
                <%= link_to "Sign Up", new_user_registration_path %>
              </li>
              <li class="sign-in" data-reveal-id"loginModal" data-reveal>
                <%= link_to "Sign In", user_session_path %>
              </li> 
              <li class="profile">
                <%= link_to "Profile", root_path %>
              </li>
              <li class="new-post" data-reveal-id="myModal" data-reveal>
                <%= link_to "New Post", posts_path %>
              </li>
            </ul>
          </section>
        </nav>
      </div>
        <%= render 'posts/new' %>
        <%= render 'devise/shared/login' %>
        <%= render 'devise/shared/signup' %>
          <%= yield %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
     

  </body>
</html>
