<!DOCTYPE html>
<html>
  <head>
    <title>GoodOrEvil</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="page">
      <div class="off-canvas-wrap">
        <div class="inner-wrap">
          <div class="fixed">
            <nav class="tab-bar">
              <section class='right-small'>
                <a href="" class="right-off-canvas-toggle menu-icon"><span></span></a>
              </section>
            </nav>
          </div>
          <a class="right-off-canvas-toggle data-no-turbolink"></a>

          <aside class="right-off-canvas-menu">
            <ul class="right">
              <li class="divider data-no-turbolink"></li>
              <li><%= link_to "Home", posts_path %></li>
              <% if user_signed_in? %>
                <li class="divider data-no-turbolink"></li>
                <li><%= link_to "Profile", posts_path %></li>
              <% else %>
                <li class="divider data-no-turbolink"></li>
                <li><%= link_to "Sign In", new_user_session_path %></li>
                <li class="divider data-no-turbolink"></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <% end %>
            </ul>    
          </aside>

          <%= yield %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
           <a class="exit-off-canvas"></a>
        </div>
      </div>
    </div>
  </body>
</html>
